<p id="notice"><%= notice %></p>

<h1>Cards Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_products.each do |cp| %>
      <tr>
        <td><%= cp.name %></td>
        <td><%= cp.active %></td>
        <td><%= cp.token %></td>
        <td><%= link_to 'Show', cp %></td>
      </tr>
    <% end %>
  </tbody>
</table>
