<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.token %></td>
        <td><%= link_to 'view', store %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New store', new_store_path %>
