<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @store.contact_email %>
</p>

<% if current_store == @store %>
  <p>
    <strong>Username:</strong>
    <%= @store.username %>
  </p>
<% end %>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>

<p>
  <strong>Token:</strong>
  <%= @store.token %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
