<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :first_name, class: 'required' %>
    <%= form.text_field :first_name, id: :user_first_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :last_name, class: 'required' %>
    <%= form.text_field :last_name, id: :user_last_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, value: @user['address1'], id: :user_address1, :required => true %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, value: @user['city'], id: :user_city, :required => true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, value: @user['state'], id: :user_state, :required => true %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, value: @user['zip'], id: :user_zip, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
