<p id="notice"><%= notice %></p>

<h1>My clients</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Transaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <% unless user.nil? %>
        <tr>
          <td><%= user['first_name'] %></td>
          <td><%= user['last_name'] %></td>
          <td><%= user['email'] %></td>
          <td><%= user['address1'] %></td>
          <td><%= user['city'] %></td>
          <td><%= user['state'] %></td>
          <td><%= user['zip'] %></td>
          <td class="cell-link"><%= link_to 'go!', new_client_transaction_path(Client.where(user_token: user['token']).first) %></td>
          <td><%= link_to 'view', client_path(Client.where(user_token: user['token']).first) %></td>
          <td><%= link_to 'edit', edit_user_path(get_local_user_by_token(user['token'])) %></td>
          <td><%= link_to 'delete', Client.where(user_token: user['token']).first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New client', new_client_path %>
