<p id="notice"><%= notice %></p>

  <h1>
    Client: <%= @user_data['first_name'] %> <%= @user_data['last_name'] %>
  </h1>

  <br />
  <%= link_to 'Edit client', edit_user_path(@local_user) %>
  <br />
  <%= link_to 'New transaction', new_client_transaction_path(@client) %>
  <br />
  <%= link_to 'Add card', new_client_card_path(@client) %>
  <br />
  <%= link_to 'View cards', client_cards_path(@client) %>

  <br />

  <div class="basic-client-info">
    <h3>Basic info:</h3>
    <p>
      <strong>Email: </strong><%= @user_data['email'] %>
    </p>

    <p>
      <strong>Address: </strong><%= @user_data['address1'] %>
    </p>

    <p>
      <strong>City: </strong><%= @user_data['city'] %>
    </p>

    <p>
      <strong>State: </strong><%= @user_data['state'] %>
    </p>

    <p>
      <strong>Zip: </strong><%= @user_data['zip'] %>
    </p>

    <p>
      <strong>Active: </strong><%= @user_data['active'] %>
    </p>
  </div>

  <div class="client-cards">
    <h3>Cards:</h3>
    <ul>
      <% if @user_cards['count'] == 0 %>
        <li>No cards available</li>
        <li><strong>Important:</strong> All cardholder address info must be filled out to add a card</li>
      <% else %>
        <% @user_cards['data'].each do |card| %>
          <li><%= CardProduct.get_request("cardproducts/#{card['card_product_token']}")['name'] %>
            <ul>
              <li>Expires: <%= card['expiration'] %></li>
              <li>State: <%= card['state'] %></li>
              <li>Fulfillment status: <%= card['fulfillment_status'] %></li>
              <li>Barcode: <%= card['barcode'] %></li>
              <li>
                <%= render 'activate', card: card %>
              </li>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
    <em class="card-activate-note small-font"><strong>Note: </strong>A user can be associated with only one ACTIVE card at a time. Activating a card automatically terminates any currently ACTIVE card.</em>
  </div>

  <% if @user_cards['count'] > 0 %>
    <div class="transaction-history">
      <h3>Transactions:</h3>
      <%= render 'transactions', transaction_list: @transactions['data'] %>
    </div>
  <% end %>
