<p id="notice"><%= notice %></p>

<h1><%= @user['first_name'] %> <%= @user['last_name'] %>'s cards</h1>

<% unless @cards['count'] == 0 %>
  <table>
    <thead>
      <tr>
        <th>Card Product</th>
        <th>Expires</th>
        <th>State</th>
        <th>Fulfillment status</th>
        <th>Balance</th>
        <th>New transaction</th>
        <th>Add funds</th>
      </tr>
    </thead>

    <tbody>
      <% @cards['data'].each do |card| %>
        <tr>
          <td><%= CardProduct.get_request("cardproducts/#{card['card_product_token']}")['name'] %></td>
          <td><%= card['expiration'] %></td>
          <td><%= card['state'] %></td>
          <td><%= card['fulfillment_status'] %></td>
          <td><%= Card.get_balance(card['token'], current_store.token)['available_balance'] %></td>
          <td class="cell-link"><%= link_to 'go!', new_client_transaction_path(@client) %></td>
          <td>
            <%= render 'add_funds', card: card %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No cards available
  </p>
<% end %>

<br>

<%= link_to 'Add card', new_client_card_path(@client.id) %>
<br />
<%= link_to 'View client', client_path(@client) %>
