<p id="notice"><%= notice %></p>

<h1><%= @user['first_name'] %> <%= @user['last_name'] %>'s cards</h1>

<% unless @cards['count'] == 0 %>
  <table>
    <thead>
      <tr>
        <th>Token</th>
        <th>User token</th>
        <th>Card product token</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cards['data'].each do |card| %>
        <tr>
          <td><%= card['token'] %></td>
          <td><%= card['user_token'] %></td>
          <td><%= card['card_product_token'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No cards available
  </p>
<% end %>

<br>

<%= link_to 'Add card', new_client_card_path(@client.id) %>
<br />
<%= link_to 'View client', client_path(@client) %>
