<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @card.token %>
</p>

<p>
  <strong>User token:</strong>
  <%= @card.user_token %>
</p>

<p>
  <strong>Card product token:</strong>
  <%= @card.card_product_token %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
