<%= form_for([client, transaction]) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card, class: 'required' %>
    <%= form.select :card_token, @card_list, prompt: 'Please Select' %>
  </div>

  <div class="field">
    <strong>Balance:</strong>&nbsp;$0
  </div>

  <div class="field">
    <%= form.label :amount, class: 'required' %>
    <%= form.text_field :amount, id: :transaction_amount, class: 'form-control', :required => true %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit transaction'%>
  </div>
<% end %>
