<%= form_with do |form| %>
  <div class="field">
    <%= form.label :card, class: 'required' %>
    <%= form.select :card_token, @card_list, prompt: 'Please Select' %>
  </div>

  <div class="field transaction-amount-field">
    <%= form.label :amount, class: 'required' %>
    <%= form.text_field :amount, id: :transaction_amount, class: 'form-control', :required => true %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit transaction'%>
  </div>
<% end %>
