<h1>Begin Transaction</h1>

<%= form_with do |form| %>

  <div class="field">
    <%= form.label :client, class: 'required' %>
    <%= form.select :user_token, @clients, prompt: 'Please Select' %>
  </div>


  <div class="actions">
    <%= form.submit 'Continue transaction'%>
  </div>
<% end %>


<%= link_to 'All clients', clients_path %>
