<!-- Adopted from a Bootstrap header template -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Client keeper', logged_in? ? clients_path : '/login', class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="header-list-items"><a href="/clients">My clients</a></li>
        <li class="header-list-items"><%= link_to 'New transaction', '/transactions/begin' %></li>
        <li class="header-list-items"><%= link_to 'New client', new_client_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            &nbsp;
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My account
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><%= link_to "View", clients_path %></li>
              <li><%= link_to "Edit", edit_store_path(current_store) %></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Destroy store', current_store, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_store_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>

      <% if logged_in? %>
        <p class="navbar-text navbar-right"><em>Logged in as <%= current_store.name %></em></p>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
